/problema1/Problem1/nbproject/private/
/problema1/Problem1/build/
/problema2/Problem2/nbproject/private/
/problema2/Problem2/build/
/problema3/Problem3/nbproject/private/
/problema3/Problem3/build/
/problema4/problem4/nbproject/private/
/problema4/problem4/build/
